<form class="form-horizontal">
  <div class="form-group">
    <label for="fullNameInput" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      {{input type="text" id="fullNameInput" class="form-control" placeholder="Johnny Appleseed" value=model.event.full_name}}
    </div>
  </div>
  <div class="form-group">
    <label for="mobileInput" class="col-sm-2 control-label">Mobile number</label>
    <div class="col-sm-10">
      {{input type="text" id="mobileInput" class="form-control" placeholder="077xxxxx" value=model.event.mobile}}
    </div>
  </div>
  <div class="form-group">
    <label for="eventInput" class="col-sm-2 control-label">Event Link</label>
    <div class="col-sm-10">
      {{input type="text" id="eventInput" class="form-control" placeholder="https://....." value=model.event.link}}
    </div>
  </div>
  {{#liquid-if model.tickets}}
  <div id="order">
    <div class="text-center"><h4>Optional - Preorder tickets</h4></div>
    <div class="form-group">
      <label for="ticketInput" class="col-sm-2 control-label">Ticket</label>
      <div class="col-sm-10">
        {{ticket-select tickets=model.tickets action='selectTicket'}}
      </div>
    </div>
    {{braintree-form clientToken=model.braintreeClientToken price=20}}
  </div>

  {{/liquid-if}}

  {{#link-to 'index' class="btn btn-lg btn-warning"}}Cancel{{/link-to}}
  {{#if model.tickets}}
    <button type="button" class="btn btn-lg btn-primary" {{action 'sendTrackRequest'}}>Complete</button>
  {{else}}
    <button type="button" class="btn btn-lg btn-primary" {{action 'sendAvailabilityRequest'}}>Submit</button>
  {{/if}}
</form>
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
{{outlet}}
